<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.li98.blog.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="cn.li98.blog.model.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="is_published" jdbcType="BIT" property="isPublished" />
    <result column="is_admin_comment" jdbcType="BIT" property="isAdminComment" />
    <result column="page" jdbcType="INTEGER" property="page" />
    <result column="is_notice" jdbcType="BIT" property="isNotice" />
    <result column="blog_id" jdbcType="BIGINT" property="blogId" />
    <result column="parent_comment_id" jdbcType="BIGINT" property="parentCommentId" />
    <result column="website" jdbcType="VARCHAR" property="website" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
  </resultMap>
  <sql id="Base_Column_List">
    id, nickname, email, content, avatar, create_time, ip, is_published, is_admin_comment, 
    page, is_notice, blog_id, parent_comment_id, website, qq
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.li98.blog.model.Comment" useGeneratedKeys="true">
    insert into comment (nickname, email, content, 
      avatar, create_time, ip, 
      is_published, is_admin_comment, page, 
      is_notice, blog_id, parent_comment_id, 
      website, qq)
    values (#{nickname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{ip,jdbcType=VARCHAR}, 
      #{isPublished,jdbcType=BIT}, #{isAdminComment,jdbcType=BIT}, #{page,jdbcType=INTEGER}, 
      #{isNotice,jdbcType=BIT}, #{blogId,jdbcType=BIGINT}, #{parentCommentId,jdbcType=BIGINT}, 
      #{website,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.li98.blog.model.Comment" useGeneratedKeys="true">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nickname != null">
        nickname,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="isPublished != null">
        is_published,
      </if>
      <if test="isAdminComment != null">
        is_admin_comment,
      </if>
      <if test="page != null">
        page,
      </if>
      <if test="isNotice != null">
        is_notice,
      </if>
      <if test="blogId != null">
        blog_id,
      </if>
      <if test="parentCommentId != null">
        parent_comment_id,
      </if>
      <if test="website != null">
        website,
      </if>
      <if test="qq != null">
        qq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="isPublished != null">
        #{isPublished,jdbcType=BIT},
      </if>
      <if test="isAdminComment != null">
        #{isAdminComment,jdbcType=BIT},
      </if>
      <if test="page != null">
        #{page,jdbcType=INTEGER},
      </if>
      <if test="isNotice != null">
        #{isNotice,jdbcType=BIT},
      </if>
      <if test="blogId != null">
        #{blogId,jdbcType=BIGINT},
      </if>
      <if test="parentCommentId != null">
        #{parentCommentId,jdbcType=BIGINT},
      </if>
      <if test="website != null">
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.li98.blog.model.Comment">
    update comment
    <set>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="isPublished != null">
        is_published = #{isPublished,jdbcType=BIT},
      </if>
      <if test="isAdminComment != null">
        is_admin_comment = #{isAdminComment,jdbcType=BIT},
      </if>
      <if test="page != null">
        page = #{page,jdbcType=INTEGER},
      </if>
      <if test="isNotice != null">
        is_notice = #{isNotice,jdbcType=BIT},
      </if>
      <if test="blogId != null">
        blog_id = #{blogId,jdbcType=BIGINT},
      </if>
      <if test="parentCommentId != null">
        parent_comment_id = #{parentCommentId,jdbcType=BIGINT},
      </if>
      <if test="website != null">
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.li98.blog.model.Comment">
    update comment
    set nickname = #{nickname,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      ip = #{ip,jdbcType=VARCHAR},
      is_published = #{isPublished,jdbcType=BIT},
      is_admin_comment = #{isAdminComment,jdbcType=BIT},
      page = #{page,jdbcType=INTEGER},
      is_notice = #{isNotice,jdbcType=BIT},
      blog_id = #{blogId,jdbcType=BIGINT},
      parent_comment_id = #{parentCommentId,jdbcType=BIGINT},
      website = #{website,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>