<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.li98.blog.dao.TagMapper">
    <!--维护 blog_tag 表(添加)-->
    <insert id="saveBlogTag">
        insert into blog_tag (blog_id, tag_id) values (#{blogId}, #{tagId})
    </insert>

    <!--根据博客id查询其拥有的标签列表-->
    <select id="getTagsByBlogId" resultType="cn.li98.blog.model.Tag">
        SELECT id, tag_name, color from tag WHERE id in (SELECT tag_id FROM blog_tag WHERE blog_id=#{blogId})
    </select>
</mapper>